body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #0c0c0c;
  overflow-y: scroll;
  padding-left: 21%;
}

footer {
  display: block;
  margin: 0;
  left: 0;
  bottom: 0;
  background-color: #0c0c0c;
  color: white;
  padding-bottom: 1em;
}

footer p {
  color: white;
  font-size: 10px;
  padding: 2em;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

b {
  font-weight: 500;
}

header {
  z-index: 1000;
  margin: 0;
}

h2 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 18px;
  line-height: 90%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  color: white;
  left: 0;
  width: 15%;
  height: 100%;
  margin: 0;
  padding: 0em 3em 0em 4em;
}

.nav-container .logo {
  font-size: 20px;
  font-weight: 300;
}

.nav-container nav a:hover {
  background-color: white;
  color: #0c0c0c;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-container a {
  color: white;
  letter-spacing: 3px;
}

.nav-container ul {
  padding-top: 0.5em;
}

.nav-container li a {
  font-size: 14px;
  font-weight: 300;
}

.social-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  color: white;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 8%;
  margin: 0;
  padding: 0em 3em 1em 3em;
}

.social-header li {
  display: inline;
  width: 100%;
  margin: 0 auto;
}

.social-header img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 20px;
  height: auto;
  padding: 1em;
}

.social-header li img:hover {
  opacity: 0.6;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 900px) {
  .nav-container {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    text-align: left;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 0em;
  }
}

@media (max-width: 900px) {
  .social-header {
    display: none;
  }
}

.hero {
  background-color: #0c0c0c;
  color: white;
  text-align: left;
  padding: 1em;
  margin: 0;
}

.hero .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1em;
}

.hero .grid-photo {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1em;
  padding-bottom: 1em;
}

.hero .grid-photo .grid-photo img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hero .grid-text {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5em;
  padding-bottom: 1em;
}

.hero .grid-text2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5em;
  padding-bottom: 1em;
}

.hero .grid-music {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1em;
  padding-bottom: 1em;
}

.hero .grid-music2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5em;
  padding-bottom: 1em;
}

.hero .grid-music3 {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5em;
  padding-bottom: 1em;
}

.hero .grid-about {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 5em;
  padding-bottom: 1em;
}

.hero ul {
  padding-bottom: 1em;
  line-height: 104%;
}

.hero li {
  list-style-type: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

.hero .container {
  position: relative;
  width: 100%;
  height: auto;
}

.hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: white;
}

.hero .container:hover .overlay {
  opacity: 0.8;
}

.hero .text {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  color: #0c0c0c;
  font-size: 40px;
  letter-spacing: 0.1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 80%;
}

.hero p {
  font-family: 'Orbitron', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 140%;
  padding-right: 2em;
}

.hero a:hover {
  text-decoration: underline;
}

.button {
  border: none;
  color: #0c0c0c;
  padding: 20px 38px;
  text-align: center;
  text-decoration: none;
  font-family: 'Sarpanch', sans-serif;
  font-weight: 900;
  font-size: 18px;
  background-color: white;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
}

.button1:hover {
  background-color: #0c0c0c;
  color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: 1px solid white;
}

@media (max-width: 900px) {
  .button, .button1:hover {
    position: relative;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */